# Build directories
build/
_build/

# Compiled binaries
*.exe
*.dll
*.pdb

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# IDE
.vscode/
.vs/
*.suo
*.vcxproj
*.filters
*.user

# OS
Thumbs.db
.DS_Store